<style> .navbar-expand-lg { display: none } </style>
<style> .footer { display: none } </style>

<div class="background_img">
<%= image_tag("NoFACES.jpg", :alt => "background") %>
</div>

  <div class="backnav">
  <%= link_to image_tag("left-arrow.png", alt: "retour"),photos_path, width: 40, height: 40 %>
  </div>

<div class="full-page">
  <div class="blockform">
    <h2>tu veux contribuer ?</h2>

          <div class="form">
            <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%= render "devise/shared/error_messages", resource: resource %>
                     <div class="field_user">
                      <%= f.text_field :prenom, placeholder: "Prénom", autofocus: true, autocomplete:"prenom", size: 40 %>
                    </div>
                    <br>
                    <div class="field_user">
                      <%= f.text_field :nom, placeholder: "Nom",autocomplete: "nom", size: 40 %>
                    </div>
                    <br>
                    <div class="field_user">
                      <%= f.email_field :email, placeholder: "Email",autocomplete: "email", size: 40 %>
                    </div>
                    <br>
                    <div class="field_user">
                      <%= f.input :bio, placeholder: "Quelques mots sur vous", size: 40, as: :text %>
                    </div>

                    <div class="checkbox">
                        <%= f.input :public, as: :boolean, checked_value: false, unchecked_value: true, label: "" %>&nbsp&nbsp
                        <p class="checkboxtitle">Je ne souhaite pas que mon profil soit public</p>
                    </div>
                    <br>
                    <div class="field_user">
                      <% if @minimum_password_length %>
                      <% end %>
                      <%= f.password_field :password, placeholder: "Mot de passe (6 caractère min)", autocomplete: "new-password", size: 40 %>
                    </div>
                    <br>
                    <div class="field_user">
                      <%= f.password_field :password_confirmation, placeholder: "Confirmer mot de passe",autocomplete: "new-password", size: 40 %>
                    </div>


                  <div class="actions">
                    <%= f.submit "En route !", :class => 'signupbutton' %>
                </div>
                </div>
          <% end %>
          <br>
          <%= render "devise/shared/links" %>
  </div>
</div>

