<div class="row justify-content-center mt-4">
  <div class="col-lg-3">
        <div id="bio">
           <p id="user_name"> <span id="green_underscore">_</span> <%= @user.prenom + " " + @user.nom %></p>
            <% if(@user.bio.blank?) %>
            <%= @user.bio %></div>
            <% end %>
  </div>

  <div class="col-lg-6">
    <div class="container feed">
      <div class="row">
        <div class="card-columns">
          <% if(user_signed_in? && current_user.admin) %>
            <%= link_to 'Supprimer', user_path(@user), method: :delete, data: { confirm: "Etes vous de sur de supprimer " + @user.prenom + " " + @user.nom + " des utilisateurs ?"} %>
          <% end %>
          <% @photos.reverse_each do |photo| %>
          <div class="card">
            <%= link_to photo do %>
            <img class="card-img-top" src="<%=  photo.file %>" alt="Card image cap">
            <% end %>
            <div class="card-body photo_content">
              <h5><%= link_to photo.title.truncate(60, separator: ' '), photo, :class => "card-title" %></h5>
              <p class="card-text"><%= photo.content.truncate(255, separator: ' ') %></p>
            </div>
          </div>
          <% end %>
       </div>
      </div>
    </div>
  </div>
</div>


