
<div class="container feed">
  <h1><span> Bienvenue, </span> <%= @user.prenom + " " + @user.nom %></h1>
  <div class="row">
    <div class="card-columns">
      <% if(current_user.admin) %>
        <%= link_to 'Supprimer', user_path(@user), method: :delete, data: { confirm: "Etes vous de sur de supprimer " + @user.prenom + " " + @user.nom + " des utilisateurs ?"} %>
      <% end %>
      <% @photos.each do |photo| %>

        <div class="card">
          <%= link_to photo do %>
              <img class="card-img-top" src="<%=  photo.file %>" alt="Card image cap">
          <% end %>
          <div class="card-body photo_content">
            <h5 class="card-title"><%= photo.title %></h5>
            <p class="card-text"><%= photo.content %></p>
          </div>
        </div>
    <% end %>
       </div>
  </div>
</div>
