<!DOCTYPE html>
<html>
  <head>
    <title>Carte</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
  </head>
  <body>

    <div class="team_img">
      <%= image_tag "equipe.jpg", alt: "Equipe", id: "team" %>
    </div>

    <div class="row justify-content-center perimetre">
      <div class="col-xs-8 col-lg-5 ">
        <div class="box">
           <%= image_tag "picto-perimetre.png", alt: "Pictogramme champs", id: "perimetre" %>
           <h2>Périmetre</h2>
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum recusandae odit dolorum iste, officia, eligendi voluptate, accusamus vero consequatur animi ad eius ex deserunt nam quos eum suscipit possimus blanditiis! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet sequi optio repellendus, beatae aut fugiat ipsum, rem similique est tempora harum ullam. Itaque nihil, quisquam veniam enim quia consectetur facilis?</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center voyage">
      <div class="col-xs-8 col-lg-5 ">
        <div class="box">
          <%= image_tag "picto-aquitaine.png", alt: "Pictogramme continents et avion", id: "voyage" %>
          <h2>Les voyages aquitains</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat enim maiores consequatur cum ratione quae qui rem, pariatur odio ut doloremque nostrum distinctio, molestiae asperiores expedita veniam similique, beatae illum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut, quae molestiae dolor ab magnam impedit a labore consectetur voluptas voluptatum error sapiente sint soluta deleniti, consequuntur qui animi, fuga quaerat.</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center carte_territoire">
      <div class="col-xs-8 col-lg-5">
        <div class="box">
          <%= image_tag "picto-logo-carte.png", alt: "Logo carte et territoire", id: "carte_territoire" %>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At magni blanditiis nostrum, suscipit, eum recusandae quos dignissimos dolore quia ad labore adipisci, incidunt magnam iure optio nihil minima exercitationem quo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut perspiciatis quaerat veritatis nesciunt nemo ratione facere, corporis, quibusdam ullam! Dolor itaque veritatis natus, voluptate libero earum consectetur fugiat praesentium iure.</p>
        </div>
      </div>
    </div>

  </html>
</DOCTYPE html>
