<!DOCTYPE html>
<html>
  <head>
    <title>Carte</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
  </head>
  <body>

    <div class="team_img">
      <%= image_tag "equipe.jpg", alt: "Equipe", id: "team" %>
      <p class="text_project">La réforme territoriale a remanié de manière significative le découpage de l’Hexagone. Aquitaine, Limousin et Poitou-Charentes sont invités à mettre en commun leur avenir et leur image sous une dénomination commune: la Nouvelle-Aquitaine. <br> Depuis 2015, le collectif Les Associés a entamé une réflexion sur ce territoire à l'échelle d'un pays. Appelé La carte & le territoire, le projet utilise la photo, le son et la vidéo pour dresser un portrait documentaire et artistique de ce nouvel ensemble.

      <br>La finalité de ce projet est d'élargir la question identitaire: que veut dire «être d'ici»? Suis-je d'où je suis né ou de là où j'ai choisi de vivre?

      <br>La Carte et le Territoire se compose de trois volets : <strong><br>#01 Le Périmètre <br>#02 Le Voyage aquitain <br>#03 Le Conte perdu</strong></p>
    </div>


    <div class="row justify-content-center perimetre">
      <div class="col-xs-8 col-lg-5 ">
        <div class="box">
           <%= image_tag "picto-perimetre.png", alt: "Pictogramme champs", id: "perimetre" %>
           <h2>Le Périmetre</h2>
           <p>Le périmètre de la Nouvelle-Aquitaine a été parcouru par le collectif Les Associés entre septembre 2015 et mars 2016, sur le principe d’un relais photographique. Chaque photographe a posé son regard le temps d'une ou plusieurs étapes, selon sa sensibilité, sa technique de prédilection et ses questionnements. <br>Le parcours est composé de huit tronçons définissant ses frontières. Le périmètre se veut ainsi l’occasion d’interroger ce défi qui nous concerne tous : la construction d'une identité commune malgré de fortes disparités entre territoires.</p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center voyage">
      <div class="col-xs-8 col-lg-5 ">
        <div class="box">
          <%= image_tag "picto-aquitaine.png", alt: "Pictogramme continents et avion", id: "voyage" %>
          <h2>Les voyages aquitains</h2>
          <p>Une carte isochrone, calculée au départ de Bordeaux permet de se rendre compte du décalage entre l’espace-géographique et l’espace-temps et de visualiser les différences de points de vues selon que l’on se trouve dans la métropole, sur un axe rapide ou dans une zone peu desservie.
          <br>Quatre destinations ont été retenues pour leur capacité à illustrer thèmes forts et singularités du territoire : Fumel (47),  La Coquille (24), Pau-Mourenx (64), La Rochelle (17). Ces destinations, à 2 h04 de Bordeaux en train, sont abordées comme une résidence durant laquelle tous les photographes du collectif explorent modes de vie et réalités sociales. Pourquoi 2h04 ? car c’est le temps/distance entre les gares Paris-Montparnasse et Bordeaux-Saint-Jean à la vitesse de la nouvelle Lgv Paris/Bordeaux.</p>
          </p>
        </div>
      </div>
    </div>

    <div class="row justify-content-center carte_territoire">
      <div class="col-xs-8 col-lg-5">
        <div class="box">
          <%= image_tag "picto-logo-carte.png", alt: "Logo carte et territoire", id: "carte_territoire" %>
          <h2>Le conte perdu</h2>
          <p>Après l'espace et le temps, La carte & le territoire propose d'aborder le récit comme véhicule d'une mémoire, expression d'un milieu et de sa langue, et de le mettre en présence du mythe contemporain, la fiction consumériste.
          <br>Cinq milieux géographiques de la Nouvelle-Aquitaine ont été choisis comme marqueurs du territoire : le fleuve, la forêt, le littoral, le marais et le massif.
          <br>Ces milieux, abordés en différents endroits (la forêt des Landes et de la Corrèze ; les marais limousin et poitevin…) font l'objet d'une production collective où chaque photographe, accompagné de circassiens et d'un conteur, apporte un regard documentaire ou poétique sur la culture et la nature des lieux.
          <br>La carte & le territoire propose une vision documentaire et artistique de la nouvelle région. Le but est l’appropriation d’un espace devenu commun, par la représentation de ce qu’est l’Autre, de ce qu’il vit, où il le vit.
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8 col-lg-6 expo">
        <div class="box">
          <h2>Les voyages sous la halle</h2>
          <p>Depuis le Moyen âge la halle est l'endroit de l'échange, du commerce, un lieu ouvert où l'on fait agora, où l'on fait société. La halle revêt une dimension symbolique et historique. Voilà pourquoi Les Associés propose d'en faire le cœur d'un dispositif itinérant de 25 dates sur l'ensemble du territoire avec deux temps forts :<br>Une exposition en extérieur, conçue pour s'adapter facilement à tous les terrains et conditions. <br>Une projection de films photographiques, sous la halle ou en plein-air, prétexte à échanges et débats entre le public-habitant et les auteurs. L'objectif est d'aller à la rencontre d'un public empêché, éloigné des codes des événements culturels, et de donner la parole à tous ceux qui, de fait, sont concernés par la nouvelle région.
          </p>
        </div>
      </div>

      <div class="col-xs-8 col-lg-6 livre">
        <div class="box">
          <h2>Les livres-objets</h2>
          <p><strong>Un guide de l'ensemble du projet</strong>. À la manière d'un dépliant touristique, cet ouvrage permet de se «déplacer» dans La carte & le territoire.
          <br><strong>Une carte routière Le Périmètre</strong>, détournant codes et signalétique du genre.
          <br><strong>Des cartes postales</strong>, mises en exergue de séries sur des sujets communs à tout le territoire.
          <br><strong>Quatre carnets Les Voyages aquitains</strong> – disponible à l'unité ou l'ensemble en coffret – portant chacun sur une destination.
          <br><strong>Un ouvrage en format beau livre</strong>, pour Le Conte perdu</p>
        </div>
      </div>
    </div>
  </html>
</DOCTYPE html>
