<style> .navbar-expand-lg { display: none } </style>

<div class="background_img">
<%= image_tag("NoFACES.jpg", :alt => "background") %>
</div>

  <div class="backnav">
  <a href=""></a>
  <%= link_to image_tag("left-arrow.png", alt: "retour"),photos_path, width: 64, height: 64 %>
  </div>

<div class="full-page">
  <div class="blockform">
      <h2>CONNEXION</h2>

          <div class="form">
              <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <div class="field">
                  <%= f.input :email,
                              required: false,
                              autofocus: true,
                              input_html: { autocomplete: "email", size: 40 },
                              placeholder: "Email",
                              label: false %>
                </div>
                <br>
                <div class="field">
                  <%= f.input :password,
                              required: false,
                              input_html: { autocomplete: "current-password", size: 40 },
                              placeholder: "Mot de passe",
                              label: false%>
                </div>
                <br>
                <div class="checkbox">
                  <%= f.input :remember_me, label: false, as: :boolean if devise_mapping.rememberable? %>&nbsp&nbsp
                  <p class="checkboxtitle">Se souvenir de moi</p>
                </div>
                <br>
                <div class="actions">
                  <%= f.button :submit, t(".sign_in"), :class => 'signupbutton' %>
                </div>
              <% end %>
              <br>
              <%= render "devise/shared/links" %>
            </div>
          </div>


