<p id="notice"><%= notice %></p>

<h1>Photos</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Long</th>
      <th>Lat</th>
      <th>Date</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.title %></td>
        <td><%= photo.content %></td>
        <td><%= photo.long %></td>
        <td><%= photo.lat %></td>
        <td><%= photo.date %></td>
        <td><%= photo.user %></td>
        <td><%= link_to 'Show', photo %></td>
        <% if user_signed_in? && current_user.id == photo.id  %>
          <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <% end %>
        <td><%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_photo_path %>
