<p id="notice"><%= notice %></p>

<h1>Photos</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Contenu</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Date</th>
      <th>Créer par</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= photo.title %></td>
        <td><%= photo.content %></td>
        <td><%= photo.long %></td>
        <td><%= photo.lat %></td>
        <td><%= photo.date %></td>
        <td><%= photo.user %></td>
        <td><%= link_to 'Afficher', photo %></td>
        <% if user_signed_in? && current_user.id == photo.id  %>
          <td><%= link_to 'Modifier', edit_photo_path(photo) %></td>
          <td><%= link_to 'Supprimer', photo, method: :delete, data: { confirm: 'Etes-vous sur ?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nouvelle photo', new_photo_path %>
