<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @photo.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @photo.content %>
</p>

<p>
  <strong>Long:</strong>
  <%= @photo.long %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @photo.lat %>
</p>

<p>
  <strong>Date:</strong>
  <%= @photo.date %>
</p>

<p>
  <strong>User:</strong>
  <%= @photo.user %>
</p>

<p>coucou
  <img src="<%= @photo.file %>" alt="">

</p>
<% if user_signed_in? && @photo.id == current_user.id %>
<%= link_to 'Modifier', edit_photo_path(@photo) %> |
<% end %>
<%= link_to 'Retour', photos_path %>
