<!DOCTYPE html>
<html>
  <head>
    <title>Carte</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
   integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
   crossorigin=""/>
  </head>


<header>

    <nav class="navbar navbar-expand-md">
      <%= link_to image_tag("logo.png", alt: "logo"), root_path, class: 'navbar-brand' %>

      <%unless user_signed_in?%>
      <div class="collapse navbar-collapse" id="navbarCollapse"">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
          <%= link_to "Inscription",new_user_registration_path, class: "nav-link" %></%>
       </li>
        <li class="nav-item">
          <%= link_to "Connefrection",new_user_session_path, class: "nav-link" %></%>
        </li>

      </div>
      <%end%>
      <% if user_signed_in?%>
      <div class="droite d-flex">
        <div class="connec">
          <%= link_to destroy_user_session_path, method: :delete do %>
          <%= content_tag :div, "Déconnexion", :class => "btn btn-outline-danger" %>
          <% end %>

        </div>
      </div>
      <%end%>
</nav>
</header>
<body>
    <%= yield %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
