<!DOCTYPE html>
<html>
  <head>
    <title>Carte</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="gauche">
         <a class="navbar-brand" href="/">Accueil</a>
      </div>
      <%unless user_signed_in?%>
      <div class="droite d-flex">
        <div class="insc mr-2">
          <%= link_to "Inscription",new_user_registration_path, class: "btn btn-success" %></%>
        </div>
        <div class="connec">
          <%= link_to "Connection",new_user_session_path, class: "btn btn-primary" %></%>
        </div>
      </div>
      <%end%>
      <% if user_signed_in?%>
      <div class="droite d-flex">
        <div class="connec">
          <%= link_to destroy_user_session_path, method: :delete do %>
          <%= content_tag :div, "Déconnexion", :class => "btn btn-outline-danger" %>
          <% end %>

        </div>
      </div>
      <%end%>
</nav>
    <%= yield %>
  </body>
</html>
