<h2>Inscription</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div>
    <p>
      Voulez vous que votre adresse soit publique ?
      <%= f.input :public, as: :boolean, checked_value: true, unchecked_value: false, label: "" %>
    </p>
  </div>

  <div class="field">
    <%= f.label :prenom %><br />
    <%= f.text_field :prenom, autocomplete: "prenom" %>
  </div>

  <div class="field">
    <%= f.label :nom %><br />
    <%= f.text_field :nom, autocomplete: "nom" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
